body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header, main {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
}

header #img{
    width: 100px; /* Largura desejada */
    height: auto;
    margin-bottom: 20px;
    margin-left: 52px;
}


.back-button, .menu-button{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
    border: solid 5px black;
    border-radius: 50%;

}
.material-symbols-outlined {
    font-size: 80px;
}

.title-section{
    display: flex;
    align-items:flex-end ;
    width: 800px;
}

.title-section h1{
    padding: 0;
    margin: 0;
    font-size: 80px;
    margin-left: 50px;   
}

.title-section img{
    width: 150px;
    height: auto;
}

main{
    width: 95%;
    height: 450px;
    padding: x;
    border: solid 1px;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 1px #D9DDD1;
}